# Editor configuration, see http://editorconfig.org
# https://github.com/JoshLabs/coding-templates/blob/master/editorconfig/.node.editorconfig

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
max_line_length = 120
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json,xml,yaml,yml,css,less,scss,sass}]
indent_size = 2

[*.{md,html}]
max_line_length = off
